/* CSS Document */

header {
	display:table;
	box-shadow: 0px 1px 2px #888; 
	padding: 3px 0px;
}
header > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
header .menu {
	width: 25%;
	font-size: 2em;
}
header img.logo {
	width: 50%;
}
header .options {
	width: 25%;
	font-size: 2em;
}