<section>
	<div id="top-slider" slider></div>
	<div id="main-nav">
		<img src="img/Caduceus-USA-Official-Logo.png" alt="Caduceus USA EMR Login" />
		<a class="button" href="https://www.caduceus24-7.com/emrx/default.aspx" alt="Google">
			<span class="buttonText">EMR LOGIN</span><i class="material-icons">&#xe5cc;</i>
		</a>
		<img src="img/CEM-LOGO-JPEG.jpg" alt="Caduceus USA EMR Login" />
		<a class="button" href="https://www.caduceus24-7.com/emr4/authenticate/" alt="Google">
			<span class="buttonText">EXAM MANAGEMENT</span><i class="material-icons">&#xe5cc;</i>
		</a>
		<img src="img/Telemed Logos (first draft)-01.jpg" alt="Caduceus USA EMR Login" />
		<a class="button" href="https://www.caduceus24-7.com/emr4/authenticate/" alt="Google">
			<span class="buttonText">TELEMEDICINE</span><i class="material-icons">&#xe5cc;</i>
		</a>
	</div>
</section>
